@charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family= Satisfy & family= Work+Sans & display=swap');
   
    @import url('https://fonts.googleapis.com/css2?family= Satisfy & family= Work+Sans & display=swap');
    
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Satisfy&family=Work+Sans&display=swap');
    
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Satisfy&family=Work+Sans&display=swap');
    

    h1{
    font-family: 'Dancing Script', cursive;
font-size: 2em;
}
body{
    font-family: 'Work Sans', sans-serif;
    }
p {font-family: 'Lato', sans-serif; font-size: 2em;}
